// breakpoints
$break-smaller: 1000px

// base type
// 16px = 100%
// 18px = 112.5%
// 20px = 125%
// 22px = 137.5%
$base-font-size: 1.25rem
$base-line-height: 1.85rem
$base-font-family: 'Montserrat', sans-serif

$base-font-color: #333
$base-bold-font-weight: 700

$small-font-size: 1rem
$content-width: 90ex

// heading type
$heading-font-family: 'Montserrat', sans-serif
$heading-font-weight: 800

// links
$link-color: #C37
$link-visited-color: #A39

// code
$code-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace
$code-color: #008306
$code-bg: #F8F9FA
