.video-section
  position: relative
  width: 100%
  height: 100vh
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  h1
    z-index: 100
    font-size: 12rem
    backgroun: white
    font-family: 'Montserrat', sans-serif
    font-weight: bold
    text-shadow: 0.5rem 0.5rem white

.video-container
  position: absolute
  width: 100%
